
body {
    background-color: #0581c0;
    
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005a87;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    float: left;
    padding: 14px 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar img  {
  float: right;
  width: 45px;
  height: 45px;
  margin-left: 10%;
 
}

.navbar-nav {
    display:flex;
    flex: 1;
    justify-content: center;

}


.navbar a {
    color: white;
    font-size: 30px;
    margin: 0 15px;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color:#3d78a0;

/* ini sebagai pembatas home dan navbar*/
}
#home {
    min-height: 100vh;
    display: flex;
    background-image: url(images/dekstopwallpaperwater.jpg);
    background-size: 100% 100%;
    margin-top: 0%;
    background-size: cover; 
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 70px;
   
}
  
.homi h1 {
  
    max-width: 80rem;
    font-size: 4rem;
    color: #eaeaed;
    line-height: 1.2;
    margin-top:0rem;
    text-align: center;
    width: 50%; 
    display: inline-block; 
    margin: 5%;
    margin-left: 25%;
    text-shadow: 1px 1px 2px black, 0 0 25px #3d78a0, 0 0 5px #a1bddf;
    
}
/* di bawah ini gambar ikannya */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
    border-top: 1pt;
    color: #071448;
  }
  
  .product {
    margin: 20px;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-bottom: 120px;
  }
  
  .product img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .product h2 {
    font-size: 18px;
    margin-top: 10px;

  }
  
  .product p {
    font-size: 14px;
    margin-top: 10px;
  }

/* ini yang about */
#about {
width: 70%;
  margin: 150px auto;
  color: #071448;
}



.isiabout {

  border: 1px solid rgb(255, 255, 255);
  border-radius: 10pt;
  border-width: 3px;
  padding: 25px 50px 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  outline: #a1bddf solid 10px;

}

.isiabout h1 {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black ;
  color: #eaeaed;

}

.isiabout p {
  font-size: 20px;
  text-align: justify;
  color: #a1bddf;
  font-family: "Caveat", cursive;

}

/* ini yang list */
.product-list {
margin-bottom: 10%;
color: #071448;



}
.product-list h2 {
  text-align: left;
  margin-top: 8%;
  margin-left: 2%;

}
.product-list li {

  font-size: 20px;
  text-align: center;
  text-align: justify;
  margin: 10px;

}

/* ini table */
.table {
  width: 50%;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 10%;
  font-size: large;
  text-align: center;
}


 #product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-top: 10%;
   
  }
  
  #product-table thead {
color: #edeaea;

  }

  #product-table td {
    background-color: #a1bddf;

  }
  #product-table th, #product-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  #product-table th {
    background-color: #005a87;}

h3 {
text-align: center;
margin-top: 20%;


}
h4 {  
text-align: center;
font-size: 50px;
margin-top: 10%;
font-family: "Pangolin", cursive;
}


/* ini video */

h3 {
  color: #071448;

}

.isivideo {
  text-align: center;
  margin-bottom: 20px;

}

.isiyt {
text-align: center;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10%;

}
.isiyt .ytb iframe {
  width: 100%;
  height: auto;
  padding: 10px;
}

.yt {
  flex: 1 1 300px;
  max-width: 400px;
  padding: 10px;
  overflow: hidden;


}
  /* ini form */
    #contact-form {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
    }
    
    #contact-form label {
      margin: 10px 0 5px;
    }
    
    #contact-form input, 
    #contact-form textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

  /* ini footer */
    footer {
      background-color: #005a87;
      text-align: center;
      position: relative;
      bottom: 0;
      width: 100%;
      color: #edeaea;
      padding: 0.8rem 0 2rem;
      margin-top: 2rem;
  
    }

  button {
    font-size: medium;
    font-weight: bold;

  }
button:hover {
  color: #005a87

}

  .icons  {
    text-align: right;
    margin-top: 30px;
    transition: color 0.3s;
  }
  
 
  

  .fa-brands.fa-youtube.fa-3x {
      color: rgb(139, 6, 6);
  }
  

  .fa-brands.fa-instagram.fa-3x {
      color: rgb(146, 20, 115);
  
  }